.App {
  text-align: center;
  font-size: 2em;
  margin: 100px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 90px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  height: 90px;
  font-weight: bold;
  font-size: 1.5em;
  align-items: center;
}

.links a {
  height: 35px;
  width: 250px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar input {
  height: 40px;
  width: 250px;
  font-size: 20px;
}

#filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

.filterbar .title {
  font-size: 30px; 
  font-weight: normal;
}

.filterbar select {
  height: 30px;
  font-size: 20px;
  width: 200px; 
}

body {
  background-color: #eeeeee;

}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  row-gap: 50px;
}

.country-preview {
  max-width: 300px;
  min-width: 250px;
  width: 21%;
  transition: 0.3s;
  border-radius: 10px;
  margin: 10px;
}

.country-preview:hover {
  box-shadow: 0px 0px 15px black;
}

.country {
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  text-align: start;
  background-color: white;
  height: 100%;
}

.country-container {
  margin: 20px;
  padding-bottom: 15px;
}

.quick-facts {
  font-size: .7em;
  text-align: start;
}

.title {
  font-weight: 500;
}

img {
  height: 150px;
  width: 100%;
}

.country-name {
  font-size: .75em;
  font-weight: bold;
}

.country-list .population {
  font-size: .75em;
}

.country-list .region {
  font-size: .75em;
}

.country-list .capital {
  font-size: .75em;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.country-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}

.country-details img {
  height: auto;
  width: 50%;
  max-width: 500px;
}

.country-info {
  margin: auto;
  width: 45%;
  justify-content: start;
  text-align: start;
}

.country-info .country-name {
  font-size: .65em !important;
  padding-bottom: 10px;
}

.country-facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  font-size: .45em !important;
}

.facts-left, .facts-right {
  width: 100%;
}

.country-facts .facts-left div{
  padding: 5px;
  padding-left: 0;
  width: 100%;
}

.country-facts .facts-right div{
  padding: 5px;
  width: 100%;
}

a:hover{
  box-shadow: 0 0 10px black;
}

