.App {
  text-align: center;
  font-size: 2em;
  margin: 100px;
  margin-top: 0;
}

.content {
  margin-left: 0;
}

.body {
  background-color: #eeeeee;
  height: 100vh;
  overflow: auto;
}

.title {
  font-weight: 500;
}

img {
  height: 150px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.country-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}

.country-details img {
  height: auto;
  width: 50%;
  max-width: 500px;
}

.country-info {
  margin: auto;
  width: 45%;
  justify-content: start;
  text-align: start;
}

.country-info .country-name {
  font-size: .65em !important;
  padding-bottom: 10px;
}

.country-facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  font-size: .45em !important;
}

.facts-left, .facts-right {
  width: 100%;
}

.country-facts .facts-left div{
  padding: 5px;
  padding-left: 0;
  width: 100%;
}

.country-facts .facts-right div{
  padding: 5px;
  width: 100%;
}

a:hover{
  box-shadow: 0 0 10px black;
}

.dark {
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.875), 
    rgba(0, 0, 0, 0.875)
  );
}
