.App {
  text-align: center;
  font-size: 2em;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: beige;
}

#filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

body {
  background-color: #eeeeee;

}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  row-gap: 50px;
}

.country-preview {
  max-width: none;
  width: 21%;
}

.country {
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  text-align: start;
  background-color: white;
  height: 100%;
}

.country-container {
  margin: 20px;
  padding-bottom: 15px;
}

.quick-facts {
  font-size: .7em;
  text-align: start;
}

.title {
  font-weight: 500;
}

img {
  height: 150px;
  width: 100%;
}

.country-name {
  font-size: .75em;
  font-weight: bold;
}

.population, .region, .capital {
  font-size: .75em;
}


a {
  text-decoration: none;
  color: black;
}

.country-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.country-details img {
  height: auto;
  width: 50%;
  max-width: 500px;
}

.country-info {
  width: 40%;
  justify-content: start;
  text-align: start;
  font-size: 16px;
}

.country-info .population, .region, .capital {
  font-size: 1em;
}

.country-info .country-name {
  font-size: 25px !important;
}

.country-facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.country-facts .facts-left div{
  padding: 5px;
  padding-left: 0;
}

.country-facts .facts-right div{
  padding: 5px;
}