.content {
    max-width: 1400px;
}

.back {
    margin: auto;
    max-width: 1300px;
    margin-bottom: 70px;
    margin-top: 50px;
    display: flex;
}

.back button {
    height: 35px;
    width: 70px;
    background-color: white;
    border: 1px black solid;
    transition: 0.3s;
}

.back button:hover {
    box-shadow: 0 0 7px black;
    cursor: pointer;
}

.App {
    margin-top: 1%;
}