.App {
    margin: 0;
    padding: 2% 7%;
}

.country-details {
    background: none;
}

@media screen and (max-width: 950px) {
    .country-details {
        flex-direction: column;
    }

    .country-details img {
        width: 100%;
        min-width: 250px;
    }

    .country-info {
        width: 95%;
        max-width: 500px;
        margin: 5% 0%;

    }
}

.dark .country-info {
    color: white;
}