.searchbar {
    display: flex;
    align-items: center;
  }
  
  .searchbar input {
    height: 40px;
    width: 250px;
    font-size: 20px;
  }
  
  #filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
  }
  
  .filterbar .title {
    font-size: 30px; 
    font-weight: normal;
  }
  
  .filterbar select {
    height: 30px;
    font-size: 20px;
    width: 200px; 
  }
  
@media screen and (max-width: 1000px) {
    .searchbar input {
        height: 30px;
        width: 200px;
        font-size: 15px;
        
    }
}